:local(.Container) {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-content: space-between;
    align-items: flex-start;
    font-size: 18px;
    font-weight: 700;
}
:local(.Countries) {
    align-self: auto;
}

:local(.Cities) {
    align-self: auto;
}

:local(.Companies) {
}

:local(.Map) {
    margin-right:30px;
}
