:local(.Container) {
    height: 300px;
    width: 250px;
    overflow-y: scroll;    
    cursor: pointer;
  }
  :local(.SelectedItem) {
    color: white;
    background-color: #007AFF;
    padding: 5px;
  }
  :local(.Item) {
    color: #007AFF;
    background-color: #fff;
    padding: 5px;
  }
  :local(.TextStyle) {
    font-weight: 600;
  } 